%header
  %Heading{ ':href': '"/"', ':size': '"xl"', ':level': '"h1"', ':theme': '"light"' }
    Hello, world!
  %Heading{ ':href': '"/"', ':size': '"md"', ':level': '"h2"', ':theme': '"light"' }
    foo
